<!DOCTYPE html>
<html>
<head>
  <title>Linkshare</title>
  <%= stylesheet_link_tag    "application", "" => true %>
  <%= csrf_meta_tags %>
</head>
<body id ='tool-bar-body'>
  <div class="row extension">
    <div class="small-4 large-4 columns">
      <%= render partial: "partials/logo_link" %>
    </div>
    <div class="small-8 large-8 columns">
	<ul id='sign-up-form'>
	<%= form_for("user", :url => user_session_path) do |f| %>
	 	<li>
	  <%= f.text_field :email, placeholder: 'email' %>
		</li><li>
	  <%= f.password_field :password, placeholder: 'password' %>
		<li>
	  <%= f.check_box :remember_me %>
	  	</li><li>
	  <%= f.label :remember_me %>
  		<li>
	  <%= f.submit 'Sign in' %>
	  	</li>
	  <%= link_to "Forgot your password?", new_password_path('user') %>
	<% end %>
	</ul>
</div>
</div>
</body>