<nav class="top-bar">
<ul class="inline-list">
<li><%= link_to "Home", root_path %></li>
<li><%= link_to "Groups", groups_path %></li>
<li><%= link_to "Shares", shares_path  %></li>
<li><% if current_user %>
<%= link_to "logout", destroy_user_session_path, :method => :delete %>
<% else %>
<%= link_to "sign in", new_user_session_path %>
<% end %></li>
</ul>
</nav>