<!DOCTYPE html>
<html>
<head>
  <title>Linkshare</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
<%= link_to "logout", destroy_user_session_path, :method => :delete %>
<% else %>
<%= link_to "sign in", new_user_session_path %>
<% end %>

<%= render 'partials/navigation' %>

<%= yield %>

</body>
</html>
