<!DOCTYPE html>
<html>
<head>
  <title>Linkshare</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= form_for @share do |s| %>
  <div class="row solo-row extension">
    <div id="ls_logo" class="small-2 large-2 columns">
      <%= render partial: "partials/logo_link" %>
    </div>
    <div id="groups" class="small-3 large-3 columns">
      <% i = 0 %>
      <% if @groups.size == 0 %>
      <div class="group-block">
        <h3>You haven't picked any groups!</h3>
      </div>
      <% else %>
      <% @groups.each do |g| %>
      <div class="group-block">
        <% if i < 3%>
        <% checkbox_name = "groups[" + g.id.to_s + "]" %>
        <% checkbox_id = "groups_" + g.id.to_s %>
        <%= check_box_tag checkbox_name, value=@groups[i].id, checked=false, {:class=>"group-select"}%>
        <%= label_tag g.name, image_tag("g.jpeg"), :for=>checkbox_id, :class=>"group-off"%>
        <% else %>
        <p>This will be a dropdown</p>
        <% end %>
        <% i = i + 1 %>
      </div>
      <% end %>
      <% end %>
    </div>
    <div id="link_info" class="small-5 large-5 columns">
      <%= s.hidden_field :network_id, value:1%>
      <%= s.fields_for :link do |l| %>
      <%= l.hidden_field :url,value: @share.link.url %>
      <div class="row">
        <div class="small-4 columns">
          <%= image_tag @share.link.img_url, :class=>"link-icon" %>
        </div>
        <div class="small-8 columns">
          <div class="row">
            <h3><%= @share.link.title %></h3>
          </div>
          <div class="row">
            <h4><%=raw truncate(@share.link.description, length: 132) %></h4>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div id="share" class="small-2 large-2 columns"><%= submit_tag %></div>
  </div>
  <% end %>
</body>
</html>

