<!DOCTYPE html>
<html>
<head>
  <title>Linkshare</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= form_for @share do |s| %>
  <div class="row solo-row">
    <div id="ls_logo" class="small-1 large-1 columns">
      <%= link_to image_tag("logo.png"), root_path, :target=>"_blank" %>
    </div>
    <div id="groups" class="small-4 large-4 columns">
      <% i = 0 %>
    <% @groups.each do |g| %>
    <div class="group-block">
      <% if i < 3%>
      <% checkbox_name = "groups[" + g.id.to_s + "]" %>
      <% checkbox_id = "groups_" + g.id.to_s %>
      <%= check_box_tag checkbox_name, value=@groups[i].id, checked=false, {:class=>"group-select"}%>
      <%= label_tag g.name, image_tag("g.jpeg"), :for=>checkbox_id, :class=>"group-off"%>
      <% else %>
      <p>This will be a dropdown</p>
      <% end %>
      <% i = i + 1 %>
    </div>
    <% end %>
    </div>
    <div id="link_info" class="small-5 large-5 columns">
      <%= s.hidden_field :network_id, value:1%>
      <%= s.fields_for :link do |l| %>
        <%= l.hidden_field :url,value: @share.link.url %>
        <%= @share.link.title %><br />
        <%= @share.link.description %>
      <% end %>
    </div>
    <div id="share" class="small-2 large-2 columns"><%= submit_tag %></div>
  </div>
  <% end %>
</body>
</html>

